.ownerhome-container {
  padding: 10px;
}

.ownerhome-header {
  text-align: left;
  align-self: flex-start;
  margin-top: 4vh;
}

.ownerhome-header-title {
  margin-left: 25px;
  font-size: 35px;
  font-weight: 300;
  color: #004d40;
}

.ownerhome-header-subtitle {
  font-size: 17px;
  margin-left: 3px;
  font-weight: 400;
  color: #004d40;
  font-style: italic;
}

.ownerhome-tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.ownerhome-tab {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #00796b;
  background-color: white;
  color: #00796b;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ownerhome-tab.active {
  background-color: #00796b;
  color: white;
}

.ownerhome-popup-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ownerhome-popup-summary {
  display: flex;
  padding: 10px;
  border-radius: 12px;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ownerhome-popup-summary:hover {
  background-color: #e0e0e0;
}

.ownerhome-popup-summary-image {
  width: 120px;
  height: 100px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.ownerhome-popup-summary-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ownerhome-popup-summary-name {
  font-size: 18px;
  font-weight: bold;
}

.ownerhome-popup-summary-description,
.ownerhome-popup-summary-dates {
  font-size: 14px;
  color: #555;
}

.ownerhome-popup-details {
  background-color: #f9f9f9;
  border: 1px solid #00796b;
  border-radius: 8px;
  padding: 20px;
}

.ownerhome-popup-image {
  width: 150px;
  height: auto;
  border-radius: 12px;
  margin: 0;
}

.ownerhome-popup-name {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 15px;
  margin-left: 10px;
}

.ownerhome-popup-info {
  margin-bottom: 20px;
  line-height: 1.6;
}

.ownerhome-popup-info-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
  color: #888;
}

.ownerhome-popup-icon {
  margin-right: 8px;
}

.ownerhome-popup-map {
  margin-bottom: 20px;
}

.ownerhome-popup-map h2 {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 100;
  color: #004a42;
}

.ownerhome-popup-map-container {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background-color: #e0e0e0;
}

.ownerhome-popup-menu {
  margin-bottom: 20px;
  width: 100%;
}

.ownerhome-popup-menu-item {
  display: flex;
  margin-bottom: 15px;
}

.ownerhome-popup-menu-image {
  width: 30%;
  height: 30%;
  border-radius: 8px;
  object-fit: cover;
  border: 1px solid #ccc;
}

.ownerhome-popup-menu-info {
  margin-left: 15px;
  flex: 1;
}

.ownerhome-popup-menu-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.ownerhome-popup-menu-description {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}

.ownerhome-popup-menu-price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.ownerhome-no-popups {
  background-color: #f5f5f5;
  font-size: 15px;
  color: #555;
  height: 150px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 100%;
  display: flex;
  margin-top: 0;
}

.ownerhome-action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.ownerhome-action-buttons button {
  flex: 1;
  margin-right: 10px;
}

.ownerhome-action-buttons button:last-child {
  margin-right: 0;
}