.registration-container {
  padding: 20px;
}

.registration-container h1 {
  margin-bottom: 20px;
}

.registration-container input,
.registration-container textarea,
.registration-container select {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 20px;
}

.registration-container input[type="file"] {
  border: none;
}

.registration-container input:read-only {
  background-color: #f0f0f0;
}

.registration-container .address-search-button {
  cursor: pointer;
  font-size: 1em;
  color: #888;
  width: 50px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
}

.registration-container .menu-item {
  display: flex;
  margin-bottom: 20px;
}

.registration-container .menu-item div {
  flex: 1;
}

.registration-container .menu-item img {
  height: 100%;
}

.registration-container .menu-item:last-child {
  margin-right: 0;
}

.registration-container .actions {
  display: flex;
}

.registration-container .actions button {
  margin-right: 10px;
}

.registration-container .actions button:last-child {
  margin-right: 0;
}

.registration-container .error {
  border-color: red;
}

.registration-title {
  font-size: 24px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: 100;
  color: #004d40;
}
